.watchlist-section {
  display: flex;
  justify-content: center;
  align-items: center; /* Justera för att texten ska centreras vertikalt */
  padding: 2rem;
}

.watchlist-section__text {
  text-align: center;
  max-width: 800px;
  margin: 5rem; /* Sätt ett top-marginal för att justera avståndet */
}

.watchlist-section__text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--purple);
}

p{
  font-size: 1.5rem;
  margin: 2rem;
  color: var(--white);
}