.movie-page {
    padding: 2rem;
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

.movie-header {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.movie-poster {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-details {
    max-width: 600px;
    padding: 1rem;
}

.movie-title {
    font: var(--font-baloo-h1);
    text-align: left;

}

.movie-details p {
    font: var(--font-inter-text);
    margin-bottom: 0.5rem;
}
.movie-desc {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    height: 300px;
    overflow: hidden;
}
.movie-info {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;

}
.movie-rating {
    display: flex;
    gap: 8px;
}
.movie-year {
    display: flex;
    gap: 8px;
}
.movie-genre {
    display: flex;
    gap: 8px;
}
.movie-card__button {
    display: flex;
    justify-content: right;
    gap: 1rem;
}
.movie-icon {
    transform: scale(1.25);
}
.movie__extra-info {
    padding-top: 1rem;
}


  