@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
 
}
:root {
  --white: #f0e7e2;
  --black: #050116;
  --dark-grey: #3d3b48;
  --purple: #460af1;
  --turqouise: #6ecdc7;
  --orange: #fa7e05;

  /* Fonts */
  --font-baloo-h1: 600 32pt/30pt "Baloo 2", sans-serif; /* Page Heading */
  --font-baloo-h2: 700 16pt/20pt "Baloo 2", sans-serif; /* Modul & Button Heading */
  --font-inter-h3: 700 12pt/15pt "Inter", sans-serif; /* Content Heading */
  --font-inter-h4: 500 9pt/12pt "Inter", sans-serif; /* Content Sub-Heading */
  --font-inter-h5: 700 8pt/10pt "Inter", sans-serif; /* Icon Heading */
  --font-inter-text: 14pt/14pt "Inter", sans-serif; /* Text */
  --font-inter-error: 10pt/12pt "Inter", sans-serif; /* error msg */
}

h1 {
  text-align: center;
  color: var(--white);
  font: var(--font-baloo-h1);
}
h2 {
  font: var(--font-baloo-h2);
}
h3 {
  color: var(--white);
  font: var(--font-inter-h3);
}
h4 {
  font: var(--font-inter-h4);
}
h5 {
  font: var(--font-inter-h5);
}
p {
  font: var(--font-inter-text);
}
span {
  font: var(--font-inter-error);
}

.app {
  background: linear-gradient(to bottom, #6100d1, #000000);
  position: relative;
}

@keyframes wag {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.error__turtle {
  margin: 5rem;
  animation: wag 2s infinite ease-in-out;
  transform-origin: center;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
}

.errorpage__button {
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid var(--white);
  background-color: #240745;
  color: var(--white);
  font: var(--font-baloo-h1);
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.errorpage__button:hover {
  cursor: pointer;
  background-color: #3e0e76;
  border: 2px solid var(--purple);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  overflow: hidden;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 4rem;
}

.footer__some-icon {
  font-size: 3rem;
  color: var(--white);
}

.page-section{
  margin-top: 2rem;
  align-content: center;
  font-family: 'Segoe UI', sans-serif;
  
}

.list{
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  list-style: none;
  justify-content: center;
}

.list-item__img{
  max-height: 400px;
  width: 300px;
  border-radius: 10px;
}

.errorpage__button , #smallCardBtn{
  font-size: 1rem;
  padding: .2rem .7rem;
}


.list-item__title{
  margin: 0.7rem 0 .5rem;
 
}


/* Media queries */
@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (max-width: 992px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 480px) {
  .list {
    grid-template-columns: 1fr;
  }
}