@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body{
  overflow-x: hidden;
}
:root {
  --white: #f0e7e2;
  --black: #050116;
  --dark-grey: #3d3b48;
  --purple: #460af1;
  --turqouise: #6ecdc7;
  --orange: #fa7e05;

  /* Fonts */
  --font-baloo-h1: 600 32pt/30pt "Baloo 2", sans-serif; /* Page Heading */
  --font-baloo-h2: 700 16pt/20pt "Baloo 2", sans-serif; /* Modul & Button Heading */
  --font-inter-h3: 700 12pt/15pt "Inter", sans-serif; /* Content Heading */
  --font-inter-h4: 500 9pt/12pt "Inter", sans-serif; /* Content Sub-Heading */
  --font-inter-h5: 700 8pt/10pt "Inter", sans-serif; /* Icon Heading */
  --font-inter-text: 14pt/14pt "Inter", sans-serif; /* Text */
  --font-inter-error: 10pt/12pt "Inter", sans-serif; /* error msg */
}

h1 {
  text-align: center;
  color: var(--white);
  font: var(--font-baloo-h1);
}
h2 {
  font: var(--font-baloo-h2);
}
h3 {
  color: var(--white);
  font: var(--font-inter-h3);
}
h4 {
  font: var(--font-inter-h4);
}
h5 {
  font: var(--font-inter-h5);
}
p {
  font: var(--font-inter-text);
}
span {
  font: var(--font-inter-error);
}

.app {
  background: linear-gradient(to bottom, #6100d1, #000000);
  position: relative;
  min-height: 100vh;
  
}

@keyframes wag {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

/* container för header och sidans bredd  */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.error__turtle {
  margin: 5rem;
  animation: wag 2s infinite ease-in-out;
  transform-origin: center;
}

/* Button */
.errorpage__button {
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid var(--white);
  background-color: #240745;
  color: var(--white);
  font: var(--font-baloo-h1);
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.errorpage__button:hover {
  cursor: pointer;
  background-color: #3e0e76;
  border: 2px solid var(--purple);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}
.errorpage__button , #smallCardBtn{
  font-size: 1rem;
  padding: .2rem .7rem;
}

/* Header */
.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap; 
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  overflow: hidden;
  box-sizing: border-box;
}
.header > * {
  flex-shrink: 1;
  min-width: 0;
}

.header nav {
  flex-shrink: 1;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
}

ul.nav__list{
  margin: 0;
}

/* Footer */
.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 4rem;
}

.footer__some-icon {
  font-size: 3rem;
  color: var(--white);
}

/* Container Startsida innehåll */
.page-section{
  
  margin-top: 2rem;
  align-content: center;
  font-family: 'Segoe UI', sans-serif;
  
}

/* List */
.list{
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: .5rem;
  list-style: none;
  justify-content: center;
  padding: 0 1rem;
  justify-items: center;
}

.list-item__img {
  width: 100%;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
.list-item__div{
  
  max-width: 200px;
}

.list-item__title{
  margin: 0.7rem 0 .5rem;
  
 
}



@media (max-width:927px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }
}
