.search__form {
  background-color: var(--white);
  padding: 0 10px;
  border: none;
  border-radius: 5px;
}

.search__input {
  padding: 10px;
  width: 300px;
  border: none;
  background-color: var(--white);
}

.search__submit-button {
  background-color: var(--white);
  border: none;
  cursor: pointer;
}
